/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900');


body{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-size: 1.2em;
  line-height: 1.7em;
  letter-spacing: .55px;
}

a{
  text-decoration: underline;
  color: #717171;
  transition: all .35s ease;
}

a:hover{
  color: #a9a9a9;
}

header{
  background: #f4f4f4;
  padding-top: 275px;
  height: 100vh;
}

header h1{
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
}

.sub-title{
  font-size: 2em;
  color: #717171;
}

.down-icon{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  font-size: 2.3em;
  color: #a8a8a8;
}

.img-fluid{
  width: 100%;
}

.content-section{
  padding: 15% 0;
}

.section1-content{
  width: 320px;
  margin: 25px 0 0 15%;
}

.folio-thumb{
  transition: all .3s ease;
  z-index: 1;
  background: rbga(0,0,0, .0);
}

.folio-thumb:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0px 0px 15px #333;
  opacity: 1;
}

footer{
  color: #fff;
  background: #313131;
  padding: 150px 0;
}

.social{
  margin-top: 25px;
}

.social ul{
  list-style: none;
}

.social li{
  display: inline-block;
}

.footer-icon{
  color: #fff;
  transition: all .3s ease;
  font-size: 1.5em;
  margin-left: 15px;
}

.footer-icon:hover{
  color: #878787;
}

.copyright{
    font-size: 10px;
    text-align: left;
    color: #fff;
    margin: 0;
}
.copyright a{
    color: #fff;
}

.copyright a:hover{
  color: #878787;
}

.bottom-bar{
  padding: 15px 0;
  background: #393939;
}

/*=== Typewriter Effect ===*/
span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
/*====================*/
